.header_content {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10%;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 35px;
        background: #5A5A5A;
        border: 1px dashed #C7C7C7;
    }
    .account {
        font-weight: 700;
        font-size: 18px;
        color: #E75626;
    }
}